<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>GateApp</title>
  <script type="text/javascript" src="http://yandex.st/jquery/2.1.1/jquery.js"></script>
  <script type="text/javascript">
    
    $(document).ready(
      initialization
    );


    function initialization() {
        $("#annotate").click(
            annotate_handler
        )
    }

    function annotate_handler(e) {
        var text = $("#text").val();
        console.log(text);

        $.ajax({
              'url': 'annotate',
              'contentType': 'application/json; charset=UTF-8',
              'data': {'text': text},
              'dataType': 'json',
              'success': onAnnotateReturn,
              'error': function() {console.error("something went wrong");}
            });
    }

    function onAnnotateReturn(data) {
        console.log(data);
        $("#address ul").empty();
        $("#organization ul").empty();
        $("#person ul").empty();
        $("#position ul").empty();

        $(data["person"]).each(
            function(index, element) {
                $("#person").append($("<li/>").text(element));
            }
        );
    }

  </script>
  <style type="text/css">

   .header{ height: 50px; margin-bottom: 10px;}
   .layout { overflow: hidden; clear: both;}
   .col1 { float: left; width: 200px; font-size: 16pt; border-right: solid 1px; height: 600px;}
   .col2 {  
      margin: 0 200px 0 100px;
      font-size: 24pt;
   }
   #text {margin: 0px 20px; display: block;}

  </style>
 </head>
 <body style="min-width: 700px">
  <div class="header">
  </div>
  <div class="layout">
   <div class="col1">
       <ul>
           <li id="address">
               Address:
               <ul>
               </ul>
           </li>
           <li id="person">
               Person:
               <ul>
               </ul>
           </li>
           <li id="organization">
               Organization:
               <ul>
               </ul>
           </li>
           <li id="position">
               Position:
               <ul>
               </ul>
           </li>
       </ul>
   </div>
   <div class="col2">
       <form method="post" action="/annotate">
           <textarea name="text" id="text" cols="80" rows="25">John Smith works for IBM</textarea>
           <p/>
           <input type="button" id="annotate" value="click!">
           </input>
       </form>
   </div>
  </div>
 </body>
</html>